h1{
    font-size:30px;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    
}
h2{
    font-size: 15px;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}
.header{
    background-color: #ffffff;
    border-radius: 20px;
    margin-left: 15%;
    width: 62%;
}
a{
    color:aquamarine ;
}
.linklist{
    list-style-type:none;
    margin-left: 20%;
}
.fileInput{
    margin-left: 20%;
}

.visitedbutton{
    background-color: #E8E8A6; /* Green */
    border: solid;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.linkbutton {
    background-color: #219F94; /* Green */
    border: solid;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .copybutton {
    background-color: #F2F5C8;
    border: solid;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 12%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }