h1{
    font-size:30px;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    
}
body{
    background-color: #b9e7b9;
}
#links{
    
}
#tablecontainer, #headercontainer{
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    margin-left: 20%;
    margin-right: 20%;
}
.header{
    background-color: #ffffff;
    border-radius: 20px;
    margin-left: 15%;
    width: 62%;
}
button{
    border: solid;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.lastvisitedbutton{
    background-color: #9bbe5a;  
}
.visitedbutton{
    background-color: #E8E8A6;
   
}
.linkbutton {
    background-color: #219F94;
    
}